*
{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h4 {
    color:000;
}
.navigation-menu {
    background-color: black;
    display: flex;
    padding: 20px;
}
ul {
    display: flex;
    list-style: none;
}
li {
    margin: 12px;
    padding: 0px;
    letter-spacing: 3px;
}
a {
    color: white;
}
h2 {
    color: white;
}
h1 {
    letter-spacing: 3px;
    margin-left: 450px;
    margin-top: 100px;
}
p {
    text-decoration: none;
}
.important-text {
    margin-top: 50px;
    margin-left: 350px;
}
.national-symbols {
    margin-top: 100px;
    margin-left: 100px;
}


.world-flags {
 margin-left: 300px;
 margin-top: 50px;
}
.maps {
margin-top: 100px;
margin-left: 50px;
}
 .coat-of-arms {
    margin-left: 300px;
    margin-top: 50px;
 }   
 div {
    background-color: gray;
 }
 .title {
 background-color: white;
 }
 h5 {
    color: #000;
 }
 
